<template lang="html">
    <div class="carousel slide" data-ride="carousel" v-if="filterActiveItems.length > 0">
        <div class="carousel-inner">
            <div 
                :class="{'carousel-item':true,'active':(index==0)}" 
                v-for="(item, index) in filterActiveItems" 
                :key="index">                
                    <img 
                        :src="item.imagen" 
                        :alt="item.alt" 
                        :class="classImageDesktop">
                    <img 
                        :src="item.imagen_movil" 
                        :alt="item.alt" 
                        :class="classImageMobile">
            </div>
        </div>
    </div>
</template>

<script >
export default {
    props: ['items'],
    data() {
        return {
            classImageDesktop: "d-none d-sm-none d-md-none d-lg-block d-xl-block img-fluid lazyloaded",
            classImageMobile: "w-100 d-lg-none d-xl-none d-sm-block d-xs-block lazyload img-fluid"
        }
    },
    computed: {
        filterActiveItems(){
            return this.items.filter(item => item.activo == true);
        }
    }
    
}
</script>