<template  lang="html">
    <div class="col mb-4">
        <div class="card categoria">
            <h3 class="categoria-nombre extrabold">
                <!-- nombre -->
                <span v-html="category.name"></span>
                <!-- Suzuki Alto -->
            </h3>
            <h4 class="categoria-categoria bolder">
                <!-- descripcion 1 -->
                <span v-html="category.category"></span>
                <!-- Compacto mecánico -->
            </h4>
            <p class="categoria-descripcion" >
                <!-- descripcion 2 -->
                <span v-html="category.description"></span>
                <!-- Hatchback, 5 puertas,<br>
                cambios manuales, 5 pasajeros. -->
            </p>

            <!-- imagen categoria -->
            <div :class="categoryImageContainerClass">
                <!-- agotado -->
	            <p v-if="category.agotado" class="agotado-texto text-center extrabold">AGOTADO</p>

                <div class="categoria-imagen-precio" v-if="!category.agotado">
	                <div class="ribbon left_ribbon bolder">	
                        <p>Precio por día</p>
                        <h3 class="extrabold">{{ getPricePerDay }}</h3>
                        <span> Iva incluido</span>
                    </div>
				</div>
				
			    <div class="categoria-imagen-descuento circle " v-if="category.descuento">
				    <h4 class="extrabold">{{ getDiscount }}</h4>
				</div>
                
               <div class="categoria-imagen-carro">
				 <img 
                    :data-src="category.image" 
                    :alt="category.name"
                    class="img-fluid lazyload"/>
				
                </div>
			</div>

            <!-- anuncio -->
            <div class="categoria-anuncio text-center" v-if="category.anuncio">
				<span v-html="category.anuncio"></span>
            </div>

            <!-- precios por dias -->
            <div class="row precios">
                <div class="categoria-dias col-5">
                        <p>1 día</p>
                        <p v-if="!isWithinSeasonDateRange()">7 días</p>
                        <p>30 días</p>
                </div>

                <div class="categoria-dia-precio col-7 bolder">
                    
                    <!-- precio por dia -->
                    <!-- $89.000 -->
                    <p>{{ getPricePerDay }}</p>
                    
                    <!-- precio por 7 dias -->
                    <!-- $84.500 c/día -->
                    <p v-if="!isWithinSeasonDateRange()">
                        {{ getPricePerSevenDays }} 
                        <span>c/día</span>
                    </p>
                    
                    <!-- precio 30 dias -->
                    <!-- $45.500 c/día  -->
                    <p>
                        {{ getPricePerThirtyDays }}  
                        <span v-if="!isWithinSeasonDateRange()">c/día</span>
                    </p>
                        
                </div>
            </div>

            <!-- anuncio dos -->
            <p class="categoria-anuncio-dos">
                Precios con IVA incluido
            </p>

            <!-- botones categoria -->
            <div class="row text-center">
                <div class="col">
                    <!-- URL id vehiculo -->
                    <a :href="getReservaButtonURL" 
                        target="_blank"> 
                        <button type="button" class="btn btn-success categoria-boton-reserva bolder" :disabled="category.agotado">
                            Reservar
                        </button>
                    </a>
                </div>
                <div class="col">
                    <a :href="getMasInfoButtonURL" target="_blank"> 
                        <button type="button" class="btn btn-primary categoria-boton-masinfo bolder" :disabled="category.agotado">
                            Más info
                        </button>
                    </a>
                </div>
            </div>


        </div>
    </div>

    

    
</template>

<script>

import * as Moment from 'moment';
import { extendMoment } from 'moment-range';
const moment = extendMoment(Moment);

import { accounting } from 'accounting';
accounting.settings.currency.decimal=",";
accounting.settings.currency.thousand=".";
accounting.settings.currency.precision=0;

export default {
    props: ['category'],
    data() {
        return {
            categoryImageContainerClass: {
                'categoria-imagen-contenedor': true,
                'text-center': true,
                'agotado': this.category.agotado
            }
        }
    },
    methods: {
        getSeasonPrice(){
            try {
                return this.category.precio_temporada[0];
            } catch (error) {
                return false;
            }
            
        },
        getSeasonInitDate(){
            try {
                return moment(this.category.precio_temporada[1],'YYYY-MM-DD');
            } catch (error) {
                return false;
            }
        },
        getSeasonEndDate(){
            try {
                return moment(this.category.precio_temporada[2],'YYYY-MM-DD');
            } catch (error) {
                return false;
            }
        },
        isWithinSeasonDateRange(){
            let season_price = this.getSeasonPrice();
            let init_date = this.getSeasonInitDate();
            let end_date = this.getSeasonEndDate();
            let now = moment();

            if(season_price && init_date && end_date){
                try {
                    let range = moment.range(init_date, end_date);
                    return range.contains(now);    
                } catch (error) {
                    return false;
                }
            }
            else{
                return false;
            }

            
        },
        formatCOPMoney(number){
            try {
                return accounting.formatMoney(number);
            } catch (error) {
                return 0;
            }
            
        }
    },
    computed: {
        getDiscount(){
            try {
                return this.category.descuento;
            } catch (error) {
                return false;
            }
        },
        getPricePerDay(){
            try {
                let price = (this.isWithinSeasonDateRange()) ? this.getSeasonPrice() : this.category.prices[0];
                return this.formatCOPMoney(price);    
            } catch (error) {
                return 0;
            }
            
        },
        getPricePerSevenDays(){
            try {
                return this.formatCOPMoney(this.category.prices[1]);    
            } catch (error) {
                return 0;
            }
            
        },
        getPricePerThirtyDays(){
            try {
                return (this.isWithinSeasonDateRange()) ? 'Contacte con nuestros asesores' : this.formatCOPMoney(Math.floor(parseInt(this.category.prices[2])/30));    
            } catch (error) {
                return 0;
            }
            
        },
        getReservaButtonURL(){
            try {
                return window.page_config.boton_reserva + "/?v=" + this.category.id;
            } catch (error) {
                return false;
            }
        },
        getMasInfoButtonURL(){
            try {
                return window.page_config.boton_masinfo;
            } catch (error) {
                return false;
            }
        },
    }
}
</script>

<style lang="css">


</style>