<template lang="html">
    <div id="formulario-campos">
      <form 
        name="enviar_email" 
        id="enviar_email" 
        @submit.prevent="onSubmit">
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            id="form-nombre" 
            name="nombre" 
            placeholder="Nombre*" 
            v-model.lazy.trim="$v.nombre.$model" />
          <div class="text-danger" v-if="$v.nombre.$error">
            Por favor escriba un nombre
          </div>
        </div>
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            id="form-telefono" 
            name="telefono" 
            placeholder="Teléfono o Whatsapp*" 
            v-model.lazy.trim="$v.telefono.$model"/>
          <div class="text-danger" v-if="$v.telefono.$error">
            Por favor escriba un teléfono
          </div>
        </div>
        <div class="form-group">
          <input 
            type="email" 
            class="form-control" 
            id="form-email" 
            name="email" 
            placeholder="Email" 
            v-model.lazy.trim="$v.email.$model"/>
          <div class="text-danger" v-if="$v.email.$error">
            Por favor escriba un email válido
          </div>
        </div>
        <div class="form-group">
          <input 
            type="text" 
            class="form-control" 
            id="form-pais" 
            name="pais" 
            placeholder="País de Residencia*" 
            v-model.lazy.trim="$v.pais.$model"/>
          <div class="text-danger" v-if="$v.pais.$error">
            Por favor escriba el país donde reside
          </div>
        </div>
        <div class="form-group">
          <textarea 
            class="form-control" 
            id="form-mensaje" 
            name="mensaje" 
            placeholder="Mensaje"
            v-model.lazy.trim="mensaje">
          </textarea>
        </div>
        <div class="text-center">
          
          <button
              type="submit"
              class="btn btn-lg boton-formulario"
              id="boton-enviar"
              :disabled="!submitButton"
              
          >Enviar</button>
        </div>
        <vue-recaptcha 
            ref="invisibleRecaptcha"
            :sitekey="sitekey"
            size="invisible"
            badge="inline"
            :loadRecaptchaScript="true"
            @verify="verifyRecaptcha">
          </vue-recaptcha>
      </form>
      <div id="respuesta" v-if="submitStatus" :class="submitClass">
        {{ submitStatus }}
      </div>

    </div>
</template>
<script>

window.axios = require('axios');
window.Vuelidate = require('vuelidate');
window.Vue.use(window.Vuelidate.default);
const { required, minLength, email } = require('vuelidate/lib/validators');

import VueRecaptcha from 'vue-recaptcha';

export default {
    props: ['sitekey'],
    components: { VueRecaptcha },
    data() {
        return {
            submitStatus: null,
            submitButton: true,
            submitClass: '',
            nombre: '',
            telefono: '',
            email: '',
            pais: '',
            mensaje: ''
        }
    },
    validations: {
        nombre: {
            required,
            minLength: minLength(4)
        },
        telefono: {
            required,
            minLength: minLength(4)
        },
        pais: {
            required,
            minLength: minLength(4)
        },
        'email': {
            required,
            email
        },
    },
    
    methods: {
      getVisitorIP(){
        return axios.get("https://api.ipify.org");
      },
      verifyRecaptcha(token){
        
        let endpoint =
              (process.env.NODE_ENV === 'production') ? 'https://iz590xje3m.execute-api.us-west-2.amazonaws.com/prod/recaptcha' : 'http://localhost:7070/subscribe/formlead';

        let data = {
          response: token
        };

        let request = this.getVisitorIP();

        request.then((response) => {
          data['remoteip']=response.data;
        })
        .finally(() => {
          console.log('sending google captcha token to verify at system ...')
          axios.post(endpoint,data)
          .then(function(response){
              console.log('Google Recaptcha validation OK');
          })
          .catch(function(error){
              console.log('Google Recaptcha validation FAILED');
          })
          .finally(() => {
            this.$refs.invisibleRecaptcha.reset();
            this.getSendDataPromise();
          });
        });
     
      },
      getSendDataPromise(){
        const endpoint =
        (process.env.NODE_ENV === 'production') ? 'https://iz590xje3m.execute-api.us-west-2.amazonaws.com/prod/leads' : 'http://localhost:7070/subscribe/formlead';
    
        // -- after validation
        // presending data
        const automate_page = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port: '');
        const page = (window.paginaweb) ? window.paginaweb : automate_page;

        this.submitStatus = "Enviando datos, un momento por favor ...";
        this.submitClass="text-info";
        this.submitButton = false;
        
        return axios.post(endpoint,{
                    nombre: this.nombre,
                    telefono: this.telefono,
                    email: this.email,
                    pais: this.pais,
                    mensaje: this.mensaje,
                    url: page
                })
                .then(function(response){
                    console.log('POST OK');
                    window.location.replace('gracias.html');
                })
                .catch(function(error){
                    this.submitStatus = "Ha ocurrido un error. Por favor intentelo de nuevo";
                    this.submitClass="text-danger";
                })
                .finally(function(){
                    this.submitButton = true;
                });
      },
      onSubmit(){
          // validate form
          this.$v.$touch();
          if(this.$v.$invalid){
              this.submitStatus = "El formulario tiene errores";
              this.submitClass = "text-danger";
          }
          else{
              this.$refs.invisibleRecaptcha.execute();
             
          }
      }
    },
}
</script>

<style lang="css">
    
</style>