@charset "utf-8";
/* CSS Document */


/* tipografia */
$base-font: "https://storage.googleapis.com/alquilatucarrocom/landing2020/fonts/";

@font-face {
  font-family: "fira-sans.book-italic";
  src: url($base-font + "fira-sans.book-italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "fira-sans.heavy-italic";
  src: url($base-font + "fira-sans.heavy-italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "fira-sans.semibold-italic";
  src: url($base-font + "fira-sans.semibold-italic.ttf") format("truetype");
  font-display: swap;
}

/* pantalla dispositivo (pendiente) */

@media screen and (max-width: 580px) {
  p {font-size: 0.9rem;}
}


/* body propiedades */

body {
  font-family: "fira-sans.book-italic", sans-serif !important;
  color: #2B2B2B;
}

body.lazyloaded {
  font-family: "fira-sans.book-italic", sans-serif !important;
  color: #2B2B2B;
  background: url(https://storage.googleapis.com/alquilatucarrocom/images/cuerpo.png) top center fixed;
}

p {
  font-size: 0.9rem; 
  line-height: 1.2rem;
}
li{
  font-size: 0.9rem; 
  line-height: 1.2rem;
}
ol{
  margin-left: -10px;
}

h1{ 
  font-size: 2.2rem; 
  color:#007BFF; 
}
h2{ 
  font-size: 1.9rem; 
  color:#007BFF;
}
h3{ 
  font-size: 1.6rem; 
  color:#007BFF;
}
h4{ 
  font-size: 1.2em; 
  color:#2B2B2B;
}

.underline { 
  text-decoration: underline;
}
.boton { 
  font-size: 1.6rem;
}

.btn-success {
  background-color:#00C447; 
}

.bolder {
  font-family: "fira-sans.semibold-italic", sans-serif;
}

.extrabold {
  font-family: "fira-sans.heavy-italic", sans-serif;
}

.grecaptcha-badge { visibility: hidden; }

.boton-llamar-inf {
  position:fixed;
  bottom:15px;
  left:16px; 
  border-radius: 5px; 
  padding: 5px 10px; 
  background-color: #f00; 
  font-size:15px;
  color: #fff;
}

.boton-wp-inf {
  position:fixed;
  bottom:15px;
  left:120px; 
  border-radius: 5px; 
  padding: 5px 10px;
  font-size:15px;
  color: #fff;
}





@import "cabecera";
@import "cuerpo";
@import "category";
@import "informacion";
@import "contact";
@import "ciudades";
@import "copyright";
@import "aviso";
