/* cabecera */

.fondo-cabecera {
    padding: 25px 0px;
}
.fondo-cabecera p{
    margin-bottom: 0px;
}

#logo {
    margin-top: 10px;
}

#telefono-principal span {
    font-size: 1.8rem;
}

.horario{ 
    font-size: 0.8rem; 
    line-height: 18px;
} 

.icono {
    margin: -2px 7px 0px 1px;
}

#whatsapp p {
    color: #00C447; 
    font-size: 1.3rem; 
    margin-bottom: 4px; 
}