.fondo-categorias {
  padding: 40px 0px; 
}
.fondo-categorias.lazyloaded {
  padding: 40px 0px; 
  background: url("https://storage.googleapis.com/alquilatucarrocom/landing2020/images/fondo-categorias.png") fixed;
}

.info-categorias {
  color:#fff; 
  text-align: center;
  margin-bottom: 1rem;
}
.info-categorias h4 {
  color:#fff;
}

/* categoria */

.categoria {
  background-color: white;
  -webkit-box-shadow: 1px 0px 9px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 0px 9px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 20px 15px;
}

h3.categoria-nombre {
  text-align: center;
}

h4.categoria-categoria {
  color: #4D4D4D;
  text-align: center;
}

p.categoria-descripcion {
  color: #4D4D4D;
  text-align: center;
}



/* imagen categoria */

.categoria-imagen-contenedor {
  padding: 2px 0 2px 0;
}

.categoria-imagen-precio {
  text-align: left;
  z-index: 0;
  width: auto;
  left: 15%;
  margin: 1px;
  position: absolute;
}

.categoria-imagen-precio p {
  margin-bottom: -3px; 
  font-size: 0.9rem;
}

.categoria-imagen-precio h3 { 
  font-size: 2.3rem; 
  margin-bottom: -8px; 
  color: yellow;
}

.categoria-imagen-precio span {
  font-size: 0.8rem; 
  margin-left: 0;
}

/* precio diseño */
.ribbon{
	width: auto;
	background: #0970E6;
	padding: 10px 20px;
	clear: both;
  -moz-transform: skew(0deg, -9deg);
  -webkit-transform: skew(0deg, -9deg);
  -o-transform: skew(0deg, -9deg);
  -ms-transform: skew(0deg, -9deg);
  transform: skew(0deg, -9deg);
}

div.left_ribbon {
  color: #fff;
  margin-left: -10px;
  float: left;
}

div.left_ribbon::before {
  display: block;
  width: 10px;
  height: 0px;
  position: absolute;
  bottom: -20px;
  left: 5px;
  content: "";
  border-bottom: 20px solid transparent;
  border-right: 40px solid #004ba0;
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
}

.categoria-imagen-carro { 
  margin-top: 18%; 
  z-index: 0; 
  position: relative;
}

.categoria-imagen-descuento {
  position: absolute; 
  float: right; 
  margin-left: 67%; 
  margin-top: 23%; 
  z-index: 50; 
}

.categoria-imagen-descuento h4{
  font-size: 1.7rem; 
  margin-bottom: -5px; 
  margin-top: 10px;
  color: #fff;
}

.categoria-imagen-descuento p{
  font-size: 0.7rem; 
  margin-bottom: 4px;
}

.circle { 
  width: auto; 
  height: 10%;
  background: red; 
  border-radius: 50%; 
  color: white; 
  padding: 8px; 
}

.categoria-anuncio {
  width: auto;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #fff;
  margin-bottom: 2px;
}

.categoria-anuncio span {
  color: red;
}

/* precios por días*/

.precios {
  margin: 7px 0px 0px 0px;
}

.categoria-dias p {
  text-align: right;
  font-size: 15px;
  line-height: 13px;
}

.categoria-dia-precio p {
  text-align: left;
  color: #0970E6;
  font-size: 20px;
  line-height: 12px;
}

.categoria-dia-precio span {
  font-size: 16px;
}

/*fin precios por días*/

.categoria-anuncio-dos {
  text-align: center;
  margin-top: 0px;
  font-size: 12px;
}

/*botones categoria*/

.categoria-boton-reserva {
  width: 100%;
}

.icono-reserva {
  // background-image: url("/images/reserva.png");
  margin: 5px;
  background-size: contain;
}

.categoria-boton-masinfo {
  width: 100%;
}

.icono-masinfo {
  margin: 0px 0px 3px 0px;
  padding: 0px 0px 0px 10px;
}

/* Agotado*/

.agotado {
  opacity: 0.5;
}

.agotado-texto {
	letter-spacing: 0.1vw;
	position: absolute;
	align-content: center;
	margin-left: 11%;
	margin-top: 30%;
  width: 70%;
  color: white;
	font-size:  1.5rem;
  padding: 29px 15px;
  background-color: black;
  transform: rotate(0deg);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
  z-index: 60;
}
