/* sedes ciudades */

.fondo-sedes {
    padding: 40px 0px; 
    background-color: #012277;
}
.contenido-sedes a {
    color: white; 
}
.contenido-sedes h3 {
    color: white; 
}
.contenido-sedes h4 {
    color: white; 
}

.contenido-sedes strong {
    font-size: 1.2rem; 
}

.boton-ciudad {
    width: 100%;
}
