/* contacto */

.fondo-contacto {
    padding: 45px 0px; 
}
.fondo-contacto.lazyloaded {
    padding: 45px 0px; 
    background: url("https://storage.googleapis.com/alquilatucarrocom/landing2020/images/fondo-categorias.png") fixed; color: #fff
}

.fondo-contacto a {
    color: #ff0;
}
.fondo-contacto h3 {
    color: #fff;
}
.fondo-contacto h4 {
    color: #fff;
}
.fondo-contacto span {
    font-size:1.8rem;
}

.quienes-somos p {
    text-align: justify;
}

#formulario {
    background: #55D485; 
    padding: 25px;border-radius: 8px; 
    text-align: center; height: auto; 
}

#formulario-campos {
    font-size: 1rem;
}

.boton-formulario {
    background-color: yellow; 
    width: 100%;
}