/* copyright*/

.fondo-copyright {
  padding: 25px 0px 0px 0px;
  background-color: black;
  color: gainsboro;
}

.links-ciudades {
  font-size: 0.7rem;
  line-height: 1rem;
  color: #a9a9a9;
}

.links-ciudades a {
  color: #a9a9a9!important;
}

.palabras-clave {
  font-size: 0.5rem;
  line-height: 1rem;
  color: #000;
}