/* información */

.fondo-informacion {
    padding: 45px 0px; 
}
.fondo-informacion.lazyloaded {
    padding: 45px 0px; 
    background-image: url("https://storage.googleapis.com/alquilatucarrocom/images/cuerpo.png");
}

.boton-reservar {
    font-size: 1.8rem;
}
